<% content_for :page_title do %>
  <%= h(@budget.name).humanize %> :: <%= GeneralSettings.model_name.human.humanize %>
<% end %>
<% content_for :sidenav, render(:partial => 'sidenav') %>

<% unless @general_settings.errors.empty? %>
  <div class="error">
	  <%= error_messages_for :general_settings, :header_message => nil %>
  </div>
<% end %>
<%= form_for budget_general_settings_path(@budget) do |f| %>
  <%= render :partial => f %>
<% end %>