<% content_for :page_title do %>
  <%= h(@budget.name).humanize %> :: <%= HardwarePrices.model_name.human.humanize %>
<% end %>
<% content_for :sidenav, render(:partial => 'sidenav') %>

<% unless @budget.hardware_prices.errors.empty? %>
  <div class="error">
	  <%= error_messages_for :hardware_prices, :object => @budget.hardware_prices,
                             :header_message => nil %>
  </div>
<% end %>
<%= form_for [@budget, @budget.hardware_prices] do |f| %>
  <%= render :partial => f, :locals => {:hp => @budget.hardware_prices} %>
<% end %>