<% content_for :page_title do %>
  <%= h(@budget.name).humanize %> :: <%= Settings.model_name.human.humanize %>
<% end %>
<% content_for :sidenav, render(:partial => 'sidenav') %>

<% unless @settings.errors.empty? %>
  <div class="error">
	  <%= error_messages_for :settings, :header_message => nil %>
  </div>
<% end %>
<%= form_for budget_settings_path(@budget) do |f| %>
  <%= render :partial => f %>
<% end %>