<h1><%= t 'msgs.actions' %></h1>
<ul>
    <% if controller.action_name == 'show' %>
	    <li><%= link_to t('msgs.edit'),
	                    edit_budget_furnishings_path(@budget, @furnishings) %></li>
	    <li><%= link_to t('msgs.delete'), 
	                    budget_furnishings_path(@budget, @furnishings),
	                    :method => :delete,
	                    :confirm => t('msgs.confirmation') %></li>
      <li>
        <%= link_to_function t('msgs.show_hide_info'), 
                             "$('p.desc.hidden').each(function(){$(this).toggle()})" %>
      </li>
	  <% end %>
		
		<% if ['new', 'edit', 'create', 'update'].include? controller.action_name %>
      <li>
        <%= link_to_function t('msgs.show_hide_desc'), 
                             "$('p.desc.hidden').each(function(){$(this).toggle()})" %>
      </li>
    <% end %>

	<% unless request.path == root_path %>
	 <li><%= link_to t('msgs.back'), @budget %></li>
	<% end %>
</ul>