<% content_for :page_title do %>
  <%= h(@budget.name).humanize %> :: <%= LanSettings.model_name.human.humanize %>
<% end %>
<% content_for :sidenav, render(:partial => 'sidenav') %>

<% unless @budget.lan_settings.errors.empty? %>
  <div class="error">
	  <%= error_messages_for :lan_settings, :object => @budget.lan_settings,
                             :header_message => nil %>
  </div>
<% end %>
<%= form_for [@budget, @budget.lan_settings] do |f| %>
  <%= render :partial => f, :locals => {:ls => @budget.lan_settings} %>
<% end %>